.is-user .for-admin {
  display: none !important;
}

.is-anonym .for-admin {
  display: none !important;
}

.is-anonym .for-user {
  display: none !important;
}

.is-admin .for-user {
  display: none !important;
}

.is-anonym .for-logined {
  display: none !important;
}
